<a href="https://colab.research.google.com/github/MaximusMcGinnis/DS1002/blob/main/Copy_of_06_Pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas exercises 1

1. Import dependencies

In [ ]:
import pandas as pd

---

In [ ]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

In [ ]:
import pandas as pd

list = [98, 24, 46, 87, 33]

myvar = pd.Series(list)

print(myvar)

0    98
1    24
2    46
3    87
4    33
dtype: int64

3. Take the above series and add an index that starts at 2 and steps by 3

In [ ]:
import pandas as pd

original_series = pd.Series(list)

new_index = range(2, len(original_series) * 3, 3)

new_series = original_series.reindex(new_index)

print(new_series)

2     46.0
5      NaN
8      NaN
11     NaN
14     NaN
dtype: float64

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

In [ ]:
import pandas as pd

data = {
    'Name':['Theo', 'Ben', 'Nate', 'Finn'],
    'Age':[18,19,20,21],
    'Career':['Professor', 'Chief', 'Doctor', 'Surgeon']

}

df = pd.DataFrame(data)

print(df)

   Name  Age     Career
0  Theo   18  Professor
1   Ben   19      Chief
2  Nate   20     Doctor
3  Finn   21    Surgeon

5. Name the index of `df` 'participant_id'.  
Print `df`.

In [ ]:
import pandas as pd

data = {
    'Name':['Theo', 'Ben', 'Nate', 'Finn'],
    'Age':[18,19,20,21],
    'Career':['Professor', 'Chief', 'Doctor', 'Surgeon']

}

df = pd.DataFrame(data)

df.index.name = 'participant_id'

print(df)

                Name  Age     Career
participant_id
0               Theo   18  Professor
1                Ben   19      Chief
2               Nate   20     Doctor
3               Finn   21    Surgeon

**6**. Use a pandas function to determine the data types of the columns of `df`.

In [ ]:
import pandas as pd

data = {
    'Name':['Theo', 'Ben', 'Nate', 'Finn'],
    'Age':[18,19,20,21],
    'Career':['Professor', 'Chief', 'Doctor', 'Surgeon']

}

df = pd.DataFrame(data)

df.index.name = 'participant_id'

print(df)

print(df.dtypes)

                Name  Age     Career
participant_id
0               Theo   18  Professor
1                Ben   19      Chief
2               Nate   20     Doctor
3               Finn   21    Surgeon
Name      object
Age        int64
Career    object
dtype: object

7. Using bracket notation, reference column `name`

In [ ]:
import pandas as pd

data = {
    'Name':['Theo', 'Ben', 'Nate', 'Finn'],
    'Age':[18,19,20,21],
    'Career':['Professor', 'Chief', 'Doctor', 'Surgeon']

}

df = pd.DataFrame(data)

df.index.name = 'participant_id'

print(df)

print(df.dtypes)

df['Name']

                Name  Age     Career
participant_id
0               Theo   18  Professor
1                Ben   19      Chief
2               Nate   20     Doctor
3               Finn   21    Surgeon
Name      object
Age        int64
Career    object
dtype: object

participant_id
0    Theo
1     Ben
2    Nate
3    Finn
Name: Name, dtype: object

8. Using dot notation, reference column `name`

In [ ]:
import pandas as pd

data = {
    'Name':['Theo', 'Ben', 'Nate', 'Finn'],
    'Age':[18,19,20,21],
    'Career':['Professor', 'Chief', 'Doctor', 'Surgeon']

}

df = pd.DataFrame(data)

df.index.name = 'participant_id'

print(df)

print(df.dtypes)

df.Name

                Name  Age     Career
participant_id
0               Theo   18  Professor
1                Ben   19      Chief
2               Nate   20     Doctor
3               Finn   21    Surgeon
Name      object
Age        int64
Career    object
dtype: object

participant_id
0    Theo
1     Ben
2    Nate
3    Finn
Name: Name, dtype: object



```
# This is formatted as code
```

8. Reference column `name` and have it returned in a dataframe.

In [ ]:
import pandas as pd

data = {
    'Name':['Theo', 'Ben', 'Nate', 'Finn'],
    'Age':[18,19,20,21],
    'Career':['Professor', 'Chief', 'Doctor', 'Surgeon']

}

df = pd.DataFrame(data)

df.index.name = 'participant_id'

name_df = df[['Name']]

print(name_df)

                Name
participant_id
0               Theo
1                Ben
2               Nate
3               Finn

9. Show the 3rd element in column `career`.

In [1]:
import pandas as pd

data = {
    'Name':['Theo', 'Ben', 'Nate', 'Finn'],
    'Age':[18,19,20,21],
    'Career':['Professor', 'Chief', 'Doctor', 'Surgeon']

}

df = pd.DataFrame(data)

df.index.name = 'participant_id'

third_element_in_career = df.loc[2,'Career']

print("The 3rd element in column carerr is", third_element_in_career)

The 3rd element in column carerr is Doctor

10.  Load the `iris` dataset that we used in class.  Use `iris` as the name of your data frame.

In [22]:
import seaborn as sns
iris = sns.load_dataset('iris')

print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]



11.  What is the correlation between the variables `sepal_length` and `sepal_width` for all the irises?

In [62]:
import seaborn as sns
iris = sns.load_dataset('iris')

print(iris[['sepal_length','sepal_width']].corr())

print( )

print("The correlation is -0.11757")

              sepal_length  sepal_width
sepal_length       1.00000     -0.11757
sepal_width       -0.11757      1.00000

The correlation is -0.11757

12.  Which of the three species has the highest correlation between `sepal_length` and `sepal_width`?  Show any calculations you use to support your answer.

In [32]:
import seaborn as sns

iris = sns.load_dataset('iris')

correlation_per_species = iris.groupby('species')[['sepal_length', 'sepal_width']].corr().iloc[0::2, -1]

max_correlation_species = correlation_per_species.groupby('species').mean().idxmax()

print("Correlation between sepal_length and sepal_width for each species:")
print(correlation_per_species)
print("\nThe species with the highest correlation is:", max_correlation_species)

Correlation between sepal_length and sepal_width for each species:
species
setosa      sepal_length    0.742547
versicolor  sepal_length    0.525911
virginica   sepal_length    0.457228
Name: sepal_width, dtype: float64

The species with the highest correlation is: setosa

13.  Among the four variables, the two that are most negatively correlated (overall) are `sepal_width` and `petal_length`.  (How do we know this?)  Determine the same thing but for each species separately:  for each species, which two variables have the most negative (or the least positive) correlation?  Again, include calculations to support your answer.

In [47]:
import seaborn as sns

iris = sns.load_dataset('iris')

correlation_per_species = iris.groupby('species')[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].corr()

min_correlation_per_species = correlation_per_species.min(level=0)

most_negative_correlation_per_species = min_correlation_per_species.idxmin()

print("For each species, the two variables with the most negative correlation or the least positive correlation are:")
print(most_negative_correlation_per_species)

For each species, the two variables with the most negative correlation or the least positive correlation are:
sepal_length    setosa
sepal_width     setosa
petal_length    setosa
petal_width     setosa
dtype: object

<ipython-input-47-5add42043f3f>:7: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  min_correlation_per_species = correlation_per_species.min(level=0)

14.  Once again, the variables `sepal_width` and `petal_length` are negatively correlated.  But for each individual species, these two variables are positively correlated.  How is this possible?  Explain this phenomenon.  Use a data visualization if it helps.

In [44]:
import seaborn as sns
iris = sns.load_dataset('iris')

correlation_per_species = iris.groupby('species')[['sepal_length', 'sepal_width']].corr().iloc[0::2, -1]

max_correlation_species = correlation_per_species.groupby('species').mean().idxmax()

print("Correlation between sepal_length and sepal_width for each species:")
print(correlation_per_species)

print( )

print("Bellow is correlation for sepal width and length for all the Irises")

print(iris[['sepal_length','sepal_width']].corr())

print( )

print("This is because correlation between sepal lengths and sepal widths for all irises compares a much larger data set than if we compare only each species data.")
print("So, it can be concluded that each species has a positive correlation when just said species is compared, but ALL Irises compared to each other has a negitive correlation because diffrient species have diffrient lengths and withs.")

Correlation between sepal_length and sepal_width for each species:
species
setosa      sepal_length    0.742547
versicolor  sepal_length    0.525911
virginica   sepal_length    0.457228
Name: sepal_width, dtype: float64

Bellow is correlation for sepal width and length for all the Irises
              sepal_length  sepal_width
sepal_length       1.00000     -0.11757
sepal_width       -0.11757      1.00000

This is because correlation between sepal lengths and sepal widths for all irises compares a much larger data set than if we compare only each species data.
So, it can be concluded that each species has a positive correlation when just said species is compared, but ALL Irises compared to each other has a negitive correlation because diffrient species have diffrient lengths and withs.