<a href="https://colab.research.google.com/github/MaximusMcGinnis/DS1002/blob/main/HW_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

In [ ]:
import pandas as pd
url = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
ride_sharing_data = pd.read_csv(url)

# Show how many rows and columns are in this dataset
num_rows, num_columns = ride_sharing_data.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 25760
Number of columns: 10

In [ ]:
import pandas as pd
url = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
ride_sharing_data = pd.read_csv(url)
df = pd.read_csv(url)

#The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
df['duration'] = df['duration'].str.replace('minutes', '').astype(int)
print("\nAfter cleaning:")
print(df.head())
print("\nData types after cleaning:")
print(df.dtypes)

After cleaning:
   duration  station_A_id                                     station_A_name  \
0        12            81                                 Berry St at 4th St
1        24             3       Powell St BART Station (Market St at 4th St)
2         8            67  San Francisco Caltrain Station 2  (Townsend St...
3         4            16                            Steuart St at Market St
4        11            22                              Howard St at Beale St

   station_B_id                   station_B_name  bike_id  user_type  \
0           323               Broadway at Kearny     5480          2
1           118  Eureka Valley Recreation Center     5193          2
2            23    The Embarcadero at Steuart St     3652          3
3            28     The Embarcadero at Bryant St     1883          1
4           350             8th St at Brannan St     4626          2

   user_birth_year user_gender  tire_size
0             1959        Male         26
1             1965        Male         27
2             1993        Male         29
3             1979        Male         26
4             1994        Male         27

Data types after cleaning:
duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [ ]:
import pandas as pd
url = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
df = pd.read_csv(url)

# Minimum and Maximum ride durations computed below

min_duration = df['duration'].min()
max_duration = df['duration'].max()

print("Minimum ride duration:", min_duration)
print("Maximum ride duration:", max_duration)

Minimum ride duration: 1 minutes
Maximum ride duration: 99 minutes

In [ ]:
# Create a new DataFrame with rides that are 60 minutes or less using .query()
df_short_rides = df.query('duration<= 60')

print(rides_60_or_less.head())

In [ ]:
import pandas as pd
url = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
df = pd.read_csv(url)

# Minimum and Maximum ride durations computed below

min_duration = df['duration'].min()
max_duration = df['duration'].max()

print("Minimum ride duration:", min_duration)
print("Maximum ride duration:", max_duration)

Minimum ride duration: 1 minutes
Maximum ride duration: 99 minutes

In [ ]:
import pandas as pd

url = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
ride_sharing = pd.read_csv(url)

# Using the new dataframe, update it so that is ONLY has records where the tire_size is 26.
ride_sharing_filtered = ride_sharing[ride_sharing['tire_size'] == 26]
print("\nFiltered dataset (tire_size == 26):")
print(ride_sharing_filtered.head())

ride_sharing_filtered.to_csv("ride_sharing_filtered.csv", index=False)

Filtered dataset (tire_size == 26):
      duration  station_A_id  \
0   12 minutes            81
3    4 minutes            16
6   16 minutes            67
9    5 minutes            30
12   7 minutes             3

                                       station_A_name  station_B_id  \
0                                  Berry St at 4th St           323
3                             Steuart St at Market St            28
6   San Francisco Caltrain Station 2  (Townsend St...           107
9      San Francisco Caltrain (Townsend St at 4th St)            62
12       Powell St BART Station (Market St at 4th St)            27

                  station_B_name  bike_id  user_type  user_birth_year  \
0             Broadway at Kearny     5480          2             1959
3   The Embarcadero at Bryant St     1883          1             1979
6          17th St at Dolores St     1035          2             1981
9    Victoria Manalo Draves Park      333          1             1994
12       Beale St at Harrison St     1863          3             1998

   user_gender  tire_size
0         Male         26
3         Male         26
6         Male         26
9         Male         26
12        Male         26

In [ ]:
import pandas as pd
url = "https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
ride_sharing_data = pd.read_csv(url)

#Produce a count of all records with FEMALE riders using the 26-inch wheeled rental bikes for their rentals of one hour or less
filtered_data = ride_sharing_data[(ride_sharing_data['rideable_type_'] == 'electric_bike') &
                                     (ride_sharing_data['duration'] <= 60) &
                                     (ride_sharing_data['duration'] >= 0) &
                                     (ride_sharing_data['member_gender'] == 'Female') &
                                     (ride_sharing_data['rideable_name'].str.contains('26"'))]
count_female_riders = len(filtered_data)

print("Count of all records with FEMALE riders using the 26-inch wheeled rental bikes for their rentals of one hour or less:", count_female_riders)

2.

In [ ]:
# Create a new Pandas DataFrame from that data and perform the following steps.
url2 = "https://raw.githubusercontent.com/aaron-abrams-uva/ds1002-s24/main/data/more-messy-data.csv"
ndpf = pd.read_csv(url2)

In [ ]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.

npdf.duplicated().sum()

287

In [ ]:
# Remove all duplicate rows
npdf=npdf.drop_duplicates()

In [ ]:
# For the four columns involving sepal and petal length and width, update all NaN values with the column mean.

npdf[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']] = npdf[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].fillna(npdf.mean())

<ipython-input-10-2c991a193567>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  npdf[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']] = npdf[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].fillna(npdf.mean())

In [ ]:
# Delete any missing values
npdf = npdf.dropna()

In [ ]:
# Number of speices

print(npdf['species'].unique())
print("There are nine names under species, but there are three truly unique species.")

['virginica' 'setosa' 'Versicolor' 'setoso' 'Viginica' 'Virginia' 'Setosa'
 'Setosan' 'versicolor']
There are nine names under species, but there are three truly unique species.

In [ ]:
# Clean up the species variable so there are three values
mapping = {'virginica': "Virginica", 'Viginica' : 'Virginica', 'Virginia' : 'Virginica', 'setosa': 'Setosa', 'setoso': 'Setosan', 'versicolor': 'Versicolor'}
npdf['species'] = npdf['species'].replace(mapping)
npdf['species'].dropna().unique()

array(['Virginica', 'Setosa', 'Versicolor', 'Setosan'], dtype=object)